@using FoodTeams.Services
@inject DishService service
@inject OrderService Service
@inject NavigationManager UriHelper


<div class="input-group mb-3" style="width:90%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Description</span>
		</div>
		<input placeholder="Description" @bind="Description" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:90%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Extras</span>
		</div>
		<input placeholder="Extras" @bind="Extras" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:90%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Price</span>
		</div>
		<input placeholder="Price" @bind="Price" type="number" min="0" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:90%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">User Id</span>
		</div>
		<input placeholder="User Id" @bind="UserId" type="number" min="0" max="100" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<br />
	<button disabled="@(Price >=1000)" type="button" style="display: block; margin: 0 auto; position: center; width: 100px"
			class="btn btn-success" @onclick="()=>UpdateDish()">Confirm
	</button>
	<br />
	<button type="button" style="display: block; margin: 0 auto; position: center; width: 100px"
			class="btn btn-warning" @onclick="()=>Cancel()">Cancel
	</button>


	@if (CreateDialogOpen)
{
	<ModalDialog Title="Error"
			 Text="Please fill out Description field"
			 OnClose="@OnCreateDialogClose">
	</ModalDialog>
}

@code {

	[Parameter]
	public string Description { get; set; }
	[Parameter]
	public string Extras { get; set; }
	[Parameter]
	public decimal Price { get; set; }
	[Parameter]
	public long UserId { get; set; }
	public bool CreateDialogOpen { get; set; } = false;

	public void UpdateDish()
	{
		if(string.IsNullOrWhiteSpace(Description))
		{
			CreateDialogOpen = true;
			StateHasChanged();
			return;
		}
		service.EditDish(Description, Extras, Price, UserId);
		UriHelper.NavigateTo("/ActiveOrderDishes");
	}

	public void OnCreateDialogClose()
	{
		CreateDialogOpen = false;
		StateHasChanged();
	}

	public void Cancel()
	{
		UriHelper.NavigateTo("/ActiveOrderDishes");
	}
}
