@page "/EditDish"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject DishService service
@inject NavigationManager UriHelper


<h1 style="text-align:center">Edit Dish</h1>

	<input placeholder="Description" @bind="Description" />
	<input placeholder="Extras" @bind="Extras" />
	<label for="Price">Price:</label>
	<input id="Price" type="number" min="0" placeholder="Price" @bind="Price" />
	<label for="UserId">User Id:</label>
	<input id="UserId" type="number" min="0" placeholder="UserId" @bind="UserId" />
	<button @onclick="()=>UpdateDish()">Edit dish</button>
	<br />



@code {

	public void UpdateDish()
	{
		service.EditDish(Description, Extras, Price, UserId);
		UriHelper.NavigateTo("/ActiveOrders");
	}
	public string Description { get; set; }
	public string Extras { get; set; }
	public decimal Price { get; set; }
	public long UserId { get; set; }

}
