@page "/NewOrder"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject OrderService service
@inject NavigationManager UriHelper
@inject FoodTeamsDbContext dbContext


<h1 class="display-3 mb-10" style="text-align:center">NEW ORDER</h1>

<br />

<NewOrderForm></NewOrderForm>

<button style="position: fixed; top: 10px; left: 10px" class="btn btn-dark" @onclick="NavigateToPrevious">Back</button>



@code {

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/Welcome");
	}
}

