@using FoodTeams.Entities
@using FoodTeams.Services
@inject OrderService orderService
@inject NavigationManager UriHelper
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

<form method="post">
	<div class="input-group mb-3" style="width:50%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Restaurant name</span>
		</div>
		<input placeholder="Restaurant Name" @bind="order.RestaurantName" type="text" required="required" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:50%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">MenuLink</span>
		</div>
		<input placeholder="MenuLink" @bind="order.MenuLink" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:50%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Minimal price</span>
		</div>
		<input placeholder="Minimal Price" @bind="order.MinPrice" type="number" min="0" max="1000" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:50%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">DeliveryPrice</span>
		</div>
		<input placeholder="DeliveryPrice" @bind="order.DeliveryPrice" type="number" min="0" max="1000" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:50%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">FreeDeliveryPrice</span>
		</div>
		<input placeholder="FreeDeliveryPrice" @bind="order.FreeDeliveryPrice" type="number" min="0" max="1000" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:50%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">BLIKNumber</span>
		</div>
		<input placeholder="BLIKnumber" @bind="order.BLIKNumber" type="number" min="0" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<button disabled="@(order.MinPrice >=1000 || order.DeliveryPrice >=1000 || order.FreeDeliveryPrice >=1000)" type="button" style="display: block;margin: 0 auto;"
			class="btn btn-success" @onclick="()=>CreateNewOrder(order)">
		Create Order
	</button>

</form>

@if (CreateDialogOpen)
{
	<ModalDialog Title="ERROR"
			 Text="Please fill out Restaurant name field"
			 OnClose="@OnCreaeDialogClose">
	</ModalDialog>
}

@code {

	Order order = new Order();
	public bool CreateDialogOpen { get; set; } = false;

	public void CreateNewOrder(Order order)
	{
		//var user = httpContextAccessor.HttpContext.User;
		if (string.IsNullOrEmpty(order.RestaurantName))
		{
			OpenCreateDialog();
			return;
		}
		orderService.CreateOrder(order);
		UriHelper.NavigateTo("/ActiveOrders");
	}

	private void OpenCreateDialog()
	{
		CreateDialogOpen = true;
		StateHasChanged();
	}

	private void OnCreaeDialogClose(bool accepted)
	{
		StateHasChanged();
		CreateDialogOpen = false;
		StateHasChanged();
	}

}
